footer.footer-main {
	background: $color-primary;
	font-family: $font-header;
	height: $footer-height;
	padding: 1em;

	@include contained(0);
	top: auto;

	@include xs {
		height: $footer-height-xs;
	}

	a {
		color: $white;
		position: relative;
		top: 50%;

		&:hover,
		&:active {
			color: $color-primary-dark;
		}
	}

	.container {
		position: relative;
		height: 100%;
	}

	.cr, 
	.social {
		color: $white;
	}

	.cr {
		margin-top: 1em;
		font-size: 0.6em;
	}

	.links {
		text-align: center;

		a {
			display: inline-block;
			font-size: 0.8em;
			margin: 0.5em 1em 0 0;
		}
	}

	.social {
		right: $gutter-width;
		text-align: right;

		.icon {
			display: inline-block;
			width: 2em;
			height: 2em;
			padding: 0.5em 0;
			border-radius: 1em;
			text-align: center;
			color: $white;
			line-height: 1;
			background: tr(0.1);
			margin-left: 0.25em;

			@include transition(0.1s background linear);

			&:hover {
				background: tr(0.15);
			}
		}
	
	}
	
}
