// import styles for the general structure of the site
@import 'nav';
@import 'footer';

main {
	background: $color-bg;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	margin: $navbar-height 0 $footer-height;

	@include xs {
		margin: $navbar-height-xs 0 $footer-height-xs;
	}
	
	overflow-x: auto;
	//border: 1px solid transparent;

	&:before {
		content: '';
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: -1;
	}
}

.row.small-gutter {
	margin-left: -8px;
	margin-right: -8px;

	[class^=col] {
		padding-left: 8px;
		padding-right: 8px;
	}
}

.row.no-gutter {
	margin: 0;

	[class^=col] {
		padding: 0;
	}
}

.row.md-max {
	@include lg {
		width: $screen-md-min;
		margin: 0 auto;
	}
}
