$dropdown-arrow-btn-width: 40px;

// ------------------- Navigation Bar ----------------------//

nav {
	background-color: $color-primary;
	display: flex;
	flex-direction: row;
	height: $navbar-height;
	justify-content: space-between;
	left: 0;
	line-height: 1;
	list-style: none;
	margin: 0 auto;
	padding: 0 1em;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;

	@include bp (md, min) {
		padding: 0 3em;
	}

	@include shadow(2);

	p {
		margin: 0;
	}

	.navbar-header {
		flex-direction: row;

		.dropdown-arrow {
			color: $white;
			align-self: center;
			cursor: pointer;
		}

		>.icon {
			border-radius: 50%;
			border: 1px solid $white;
			position: relative;
			overflow: hidden;
			padding: 0.4em;
			margin: 0.4em;
			min-height: $navbar-height - 0.8em;
			width: $navbar-height - 0.8em;

			&:hover {
				opacity: 0.7;
			}

			a {
				padding-top: 100%;
				align-items: center;
				display: flex;
				justify-content: center;
				padding: 0.3em;
				position: absolute;
				vertical-align: middle;

				@include shadow(-1);
				@include contained(0);

				img {
					padding-left: 2px;
					height: 100%;
				}
			}
		}
	}

	ul.navbar-left {
		display: flex;

		> li {
			float: left; 
		}

		li {
			> a {
				&.link {
					color: $white;
				}
			}

			a:hover, 
			a:active {
				&.link {
					color: $gray;
					text-decoration: none;
				}
			}
		}

		li {
			align-items: center;
			display: flex;
			height: 100%;
			list-style: none;
			margin-left: 1em;
			text-decoration: none;
			text-transform: uppercase;

			a {
				font-family: $font-header;
				font-size: 0.8em;

				&.active {
					color: $color-primary-light;
				}

				&.cta {
					border-radius: 3px;
					border: 2px solid $white;
					font-weight: bold;
					padding: 0.75em;

					@include bp(sm, max) {
						display: none;
					}	
				}
			}

			.dropdown-arrow {
				font-size: 0.8em;
			}

			div.dropdown-arrow {
				display: none;
			}

			.dropdown-content {
				display: none;
				position: absolute;
				top: $navbar-height;
				background: $lightgray;

				li {
					font-size: 0.8em;
					padding: 1.3em 1em;
				}
			}

			&:hover {
				.dropdown-content {
					display: block;
				}
			}
		}

		@include bp(sm, max) {
			display: none;
		}
	}

	.navbar-panel-button {
		font-size: 0.8em;
		padding: 2.1em 1.5em;
		position: relative;
		text-decoration: none;
		text-transform: uppercase;
		z-index: 1;

		@include bp(md) {
			display: none;
		}

		&:before {
			color: $white;
			content: 'Menu';
			font-family: $font-header;
			opacity: 1;
			position: absolute;
			right: 0;
			transition: 0.2s linear opacity;
		}

		&:after {
			color: $white;
			content: 'Close';
			font-family: $font-header;
			opacity: 0;
			position: absolute;
			right: 0;
			transition: 0.2s linear opacity;
		}

		&.open {
			&:before {
				opacity: 0;
			}

			&:after {
				opacity: 1;
			}
		}
	}

	ul.navbar-panel {
		background: rgba(0,0,0,0.9);
		bottom: 0;
		color: $black;
		overflow-y: scroll;
		position: fixed;
		transition: 0.2s ease-out all;
		height: 100vh;
		width: 100vw;
		padding: 3em;
		opacity: 0;
		display: none;

		@include contained(0);
		top: $navbar-height;

		@include shadow(2);

		li {
			font-family: $font-header;
			list-style: none;
			text-decoration: none;
			position: relative;
			padding: $half-gutter 0;

			a {
				color: $white;
				font-size: 1.3em;
				padding: $half-gutter - 0.5em $half-gutter;

				&:hover {
					color: $black;
				}

				&.active {
					border-left: 0.3em solid $color-primary;
					padding-left: $half-gutter - 0.3em;
				}

				&.dropdown {
					margin-right: $dropdown-arrow-btn-width;
				}
			}

			.dropdown-arrow {
				color: $white;
				display: block;
				font-size: 1.3em;
				padding: 15px $half-gutter;
				position: absolute;
				right: 0;
				text-align: right;
				top: 0;
				width: $dropdown-arrow-btn-width;

				&span {
					display: none;
				}
			
				span {
					@include transform(rotate(0deg));
					transition: 0.2s ease-out all;
					display: inline-block;
				}
				
				&.open span {
					@include transform(rotate(180deg));
				}
			}
		}

		.dropdown-content {
			background: $lightgray;
			display: none;
		}

		&::-webkit-scrollbar {
		    width: 0px;  /* remove scrollbar space */
		    background: transparent;  /* optional: just make scrollbar invisible */
		}

		&.open {
			display: block;
			opacity: 1;
			transition: 0.2s ease-out all;
		}
	}

	.darken {
		background: rgba(0,0,0,0.5);
		bottom: 0;
		display: none;
		left: 0;
		position: fixed;
		right: 0;
		top: $navbar-height;

		@include bp(md) {
			display: none;
			height: 0;
			width: 0;
		}
	}
}