section.banner {
	align-items: flex-start;
	background-position: bottom right;
	background-size: cover; 
	overflow: hidden;
	padding: 0;
	position: relative;

	h4,
	p {
		@include bp(sm, only) {
			width: 65%;
		}
	}

	.container {
		background: rgba(toblack($color-primary, 0.8), 0.7);
		margin: 0;
		padding: 4.5em $gutter-width;
		position: relative;
		width: 100%;
		z-index: 2;

		@include xs {
			padding: 4.5em $half-gutter;
		}

		@include bp(md, min) {
			width: 50%;
		}

		@include bp(lg, only) {
			padding: 5em;
		}

		&.restrict-width {
			> * {
				max-width: 700px;
				width: 100%;
				text-align: left;

				@include lg {
					max-width: 800px;
				}
			}
		}

		h1, h2, h3, h4 {
			color: $white;
			font-weight: bold;
		}

		p {
			color: $white;
		}
	}

	&.large {
		.container {
			padding-top: 9em;
			padding-bottom: 9em;
		}
	}
}