.btn, 
a.btn {
	@extend .noselect;

	background: $color-primary;
	border-radius: 2px;
	color: $white;
	cursor: pointer;
	display: inline-block;
	font-family: $font-header;
	font-size: 18px;
	font-weight: 600;
	line-height: 1;
	margin: 0 auto;
	padding: 0.8em;

	@include xs {
		font-size: 16px;
	}

	&:hover {
		background: toblack($color-primary, 0.1);
	
		@include shadow(1);
	}

	&.left {
		margin-left: 0;
	}

	&.black {
		background: $white;
		color: $black;
	}

	&.dark,
	&.black {
		&:hover {
			background: towhite($color-primary, 0.2);
		
			@include shadow(1);
		}
	}

	&.small {
		font-size: $font-size;
		@include xs {
			font-size: $font-size-xs;
		}
		
		line-height: 1.1;
	}

	&.em {
		font-size: 1em;
	}

	&.cta {
		font-size: 1.2em;
		padding: 1em 2em;
	}
}
