section.carousel-banner {
	background-color: $black;
	padding: 0;
	padding-top: 40%;
	position: relative;

	@include xs {
		padding-top: 80%;
		font-size: 0.7em;
	}

	.carousel-content {
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		text-align: center;
		top: 0;
		z-index: 10;
		justify-content: center;
		align-items: center;
		display: flex;

		h1 {
			max-width: 80%;
			color: $white;

			.line {
				display: inline-block;
			}
		}
	}
	
	.carousel {
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 0;
		opacity: 0.6;
			
		> div {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			display: none;
			z-index: 0;
			
			&:nth-of-type(1) {
				background-image: url('../img/banners/banner-1.jpg');
				background-position: center center;
				background-size: cover;
			}

			&:nth-of-type(2) {
				background-image: url('../img/banners/banner-2.jpg');
				background-position: center center;
				background-size: cover;
			}

			&:nth-of-type(3) {
				background-image: url('../img/banners/banner-3.jpg');
				background-position: center center;
				background-size: cover;
			}

			&:nth-of-type(4) {
				background-image: url('../img/banners/banner-4.jpg');
				background-position: center center;
				background-size: cover;
			}

			&:nth-of-type(5) {
				background-image: url('../img/banners/banner-5.jpg');
				background-position: center center;
				background-size: cover;
			}
		}
	}
}