section.banner {
	.container {
		.meta {
			font-size: 0.65em;
			margin: 0;
		}

		&.logo {
			background: none;
			align-self: center;
			text-align: center;

			img {
				width: 50%;
				margin: auto;
			}

			&:nth-child(2) {
				@include bp(sm, max) {
					order: 1;
				}
			}
		}
	}
}