$submit-width: 100px;

.form.signup {
	height: 2.4em;
	margin-top: 1.5em;
	position: relative;

	.input {
		line-height: 1;
		padding: 0.7em;
		position: absolute;
		top: 0;
		
		&.email {					
			background: white;
			border-right: 0;
			border: 1px solid tr(0.1);
			left: 0;					
			overflow: hidden;
			right: $submit-width;
			text-align: left;
			white-space: nowrap;

			& br {
				display: none;
			}

			&:empty:before {
				content: 'yourname@example.com';
				opacity: 0.5;
			}
		}

		&.submit {
			background: $color-primary;
			border: 1px solid $color-primary;
			color: white;
			cursor: pointer;
			font-weight: 600;
			right: 0;
			text-align: center;
			width: $submit-width;
		}

		&:focus {
			outline: 0;
			border: 1px solid $color-primary;
			border-right: 0;
		}
	}

	.message {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		margin-top: 0.3em;
		font-size: 0.8em;
		text-align: center;

		&.error {
			color: red;					
		}

		&.success {
			color: #29a329
		}
	}
}