.grid-logo {
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: auto;

	> a {
		margin: auto;
	}

	.logo {
		flex-basis: 20%;
		padding: 2em;

		@include xs {
			flex-basis: 32%;

			&:nth-child(10),
			&:nth-child(11),
			&:nth-child(12),
			&:nth-child(13) {
				display: none;
			}
		}
		
		.logo-inner {
			width: 100%;
			padding-top: 80%;
			position: relative;

			> a {
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center center;

				@include contained(0);
			}
		}
	}
}