section.clients {
	.client {
		background-image: url('');
		background-position: top center;
		background-size: cover;
		justify-content: flex-end;
		margin-bottom: $gutter-width;
		padding-top: 75%;
		position: relative;

		@include bp(sm, max) {
			padding-top: 50%;
		}

		.logo {
			position: absolute;
			top: $half-gutter;
			left: $half-gutter;
			width: 125px;
			height: 100px;
			background-image: url('');
			background-size: contain;
			background-position: left top;
			background-repeat: no-repeat;
		}

		.info {
			padding: $half-gutter;
			background: tr(0.7);
			color: $white;
			z-index: 2;

			@include sm {
				top: 66.6%;
			}

			.name {
				font-size: 1.2em;
				font-weight: 600;
				margin-bottom: 0.5em;
				line-height: 1;
				color: $white;
			}

			.text {
				opacity: 0.8;
				font-size: 0.8em;
				margin-bottom: 1em;
				display: block; /* or inline-block */
				text-overflow: ellipsis;
				word-wrap: break-word;
				overflow: hidden;
				height: 5.6em;
				line-height: 1.4em;
			}

			.btn {
				margin-top: 0.5em; 
			}
		}

		.filter {
			@extend .pf;
			position: absolute;
			background: linear-gradient(to bottom, tr(0.5) 0%, tr(0.2) 100%);
		}
	}

	@include bp(md, max) {
		.client {
			.info {
				.name {
					height: 1em;
					white-space: nowrap;
				}
			}

			.logo {
				top: 25%;
				left: 50%;
				background-position: center center;

				@include transform(translate(-50%,-50%));
			}
		}
	}

	@include sm {
		.logo {
			top: 40%;
		}
	}

	@include bp(sm, max) {
		.client {
			.info {
				padding: 2em;
				font-size: 1.2em;
			}
		}
	}
}