section.team {
	@include gutter(10px, true);

	[class^=col] {
		@include xs {
			max-width: 280px;
			float: none;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.team-member {
		background-position: center center;
		background-size: cover;
		box-shadow: inset 0 0 40px tr(0.5);
		cursor: pointer;
		font-size: 0.8em;
		overflow: hidden;
		padding: 60% 50%;
		position: relative;
		margin-bottom: 1em;

		&, 
		& * {
			@include transition(0.25s all ease-out);
		}

		@include bp(sm, max) {
			padding: 50% 50%;
			font-size: 1em;
		}

		.info {
			position: absolute;
			$spacing: 0;
			bottom: $spacing;
			left: $spacing;
			right: $spacing;
			background: tr(0.64);
			color: white;
			padding: 1em;
			//text-align: center;
			height: 100%;
			bottom: -100%;
			margin-bottom: 1.4*2.2em + 2em;
			

			.name {
				font-weight: 600;
				font-size: 1.2em;
				//text-transform: uppercase;
			}

			.role {
				opacity: 0.8;
				margin-bottom: 1em;
			}

			.desc {
				opacity: 1;
			}

			.social {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				padding: 1em;


				a {
					color: white;
					font-size: 1.5em;
				}

			}
		}

		&:hover .info {
			bottom: 0;
			margin-bottom: 0;
			background: tr(0.8);

			.desc {
				opacity: 1;
			}
		}
	}
}