$banner-height: 400px;
$article-inset: 0px;

.post-banner {
	background-image: url('');
	background-attachment: fixed;
	background-position: center bottom;
	background-size: cover;
	margin-bottom: -$article-inset;
	position: relative;
	width: 100%;
	margin-top: $navbar-height;

	@include xs {
		margin-top: $navbar-height-xs;
	}

	@include shadow(-1);

	&,
	[class^="col-"] {
		height: $banner-height;
		@include bp-each(height, 200px, 300px, 400px, 400px);
	}

	.darken {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0,0,0,0.5);
	}

	.text {
		position: relative;
		top: 50%;

		@include transform(translateY(-50%));

		.title {
			h1 {
				color: $white;
				font-size: 48px;				
				font-family: $font-header;
				font-weight: bold;
				line-height: 1;
				text-align: left;
				text-shadow: 0 2px 5px black;

				@include bp-each(font-size, 24px, 36px, 48px, 64px);
			}
		}

		.meta {
			color: $white;
			margin-top: 0.5em;
			text-align: left;
			text-transform: uppercase;

			.excerpt {
				text-transform: none;
				margin: 0.75em 0 0;
				line-height: 1.4;
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;

				a {
					color: $white;
				}
			}

			.day {
				&:after {
					content: 'th';
					font-size: 0.8em;
				}

				&.day01:after, &.day21, &.day31 {
					content: 'st';
				}
				&.day02, &.day22 {
					content: 'nd';
				}
				&.day03, &.day23 {
					content: 'rd';
				}
			}
		}
	}
}