.row.blog {
	margin-left: $half-gutter;
	margin-right: $half-gutter;;

	[class^=col] {
		padding: 2px;
		margin-bottom: 0;
	}
}

@mixin bpt($prop) {
	@include transition(0.25s ease-out $prop);
}

.recent {
	position: absolute;
	top: -30px;
	color: $color-primary;
	font-weight: bold;
}

.blog-grid {
	padding-top: 4px;
}

a.blog-post {
	display: block;
	position: relative;
	overflow: hidden;
	position: relative;
	z-index: 1;
	padding-top: 60%;
	overflow: hidden;
	background-size: cover;

	.darken {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-size: cover;
		background-position: center center;
		background: linear-gradient(tr(0.2), tr(0.7));
	}

	.text {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		bottom: -((2.8+0.75) * 0.8em);
		color: white;
		padding: 1.2em;
		transition: 0.2s linear all;

		@include bpt(bottom);		

		h1 {
			font-size: 1.2em;
			line-height: 1.1;
			color: white;
			font-weight: 600;
			margin: 0;
		}

		p {
			font-size: 0.8em;
			margin: 0.75em 0 0;
			line-height: 1.4;
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			opacity: 0;

			@include bpt(opacity);

			&:empty {
				display: none;
			}
		}
	}

	&:hover {
		.text {
			bottom: 0;

			p {
				opacity: 1;
			}
		}
	}

	&.view-all {
		background: $color-primary;
		padding: 0;
		padding-top: 60%;

		@include xs {
			height: auto;

			.text {
				position: static;

				p {
					display: none;
				}
			}
		}
	}
}