.pricing {
	text-align: center;

	a.package {
		background-color: $black;
		color: $white;
		float: left;
		margin-bottom: 1em;
		padding: 1em;
		position: relative;
		text-align: left;
		vertical-align: top;
		border-radius: 5px;
		text-align: center;

		@include shadow(1);

		h2 {
			padding: 10px;
			margin-bottom: 0;
			font-size: 0.9em;
		}

		&.main {
			background-color: $color-primary;
			color: $white;

			h2 {
				color: $lightgray;
			}
		}

		&:hover,
		&:active {
			background-color: $color-accent;
			color: $white;
			transform: translateY(-2px);

			@include shadow(2);
		}
	}
}