// Base Section format
section {
	align-items: center;
	clear: both;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;

	> h1, > h2,>  h3, > h4, > h5, > h6 {
		flex-basis: 100%;
		text-align: center;
	}
    
    .wrapper {
		flex-direction: row;
		width: 100%;
		max-width: 900px;
		margin: auto;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.container {
		margin: 0 auto;
		order: 2;

		&.restrict-width {
			max-width: 600px;
		}
	}

	&:not(.splash):not(.banner):not(.carousel-banner) {
		padding: $gutter-width;
		
		@include xs {
			padding: $gutter-width $half-gutter;
		}
	}

	> h2 {
		font-size: 1.8em;
		margin-bottom: 1em;
	}

	p {
		a {
			&:hover {
				opacity: 0.8;
			}
		}

		.more-margin {
			margin-bottom: $half-gutter;
		}
	}

	a.btn.more-info {
		margin-top: 0.6em;
	}

	ul, ol {
		margin: initial;
		padding: 0 0 0 40px;
		margin-bottom: 1em;
	}

	ul {
		list-style: initial;

		li {
			display: list-item;
			list-style: disc;
		}
	}

	ol {
		li {
			list-style: decimal;
		}
	}

	// Grid

	&.col-2 {
		.container {
			flex-basis: 100%;

			@include bp(md, min) {
				flex-basis: 50%;

				&:nth-child(1) {
					align-items: flex-end;
				}

				&:nth-child(2) {
					align-items: flex-start;
				}

				.content {
					max-width: 450px;
				}
			}
		}
	}

	&.col-3 {
		.wrapper {
			.container {
				flex-basis: 30%;
				margin-bottom: $gutter-width;

				@include bp(sm, max) {
					flex-basis: 100%;
				}
			}
		}
	}

	&.col-4 {
		.wrapper {
			.container {
				flex-basis: 23%;
				margin-bottom: $gutter-width;

				@include bp(sm, max) {
					flex-basis: 100%;
				}
			}
		}
	}
}

// Other rules
body.home main > section:nth-child(2n+1),
body:not(.home) main > section:nth-child(2n+1) {
	&:not(.banner):not(.carousel-banner)  {
		background-color: towhite($color-primary, 0.95);
		background-color: towhite(black, 0.95);
	}
}

body.home main > section:nth-child(2n),
body:not(.home) main > section:nth-child(2n) {
	&:not(.banner):not(.carousel-banner)  {
		background-color: $white;
	}
}