.share-links {
	position: fixed;
	top: 50vh;
	text-align: center;

	@include bp(sm, max) {
		display: none;
	}

	p {
		font-family: $font-header;
		text-transform: uppercase;
		font-size: 0.7em;
		margin-bottom: .5em;
		color: $color-primary;
	}

	.share-link {
		display: block;
		font-size: 1.5em;
	}
}