section.contact{
	.contact-list {
		font-size: 1.2em;
		
		.contact-entry {
			* {
				vertical-align: middle;
			}
			
			> span {
				font-size: 1.5em;
				color: #aaa;
				margin-right: .5em;
			}
		}
	}		
}