body.notfound {
	background-image: url('/assets/assets/img/pixel-overlay-2.png'), linear-gradient(tr(0.5),tr(0.5)), url('/assets/assets/img/sb.jpg');
	@include xs { background-image: url(''), linear-gradient(tr(0.7),tr(0.7)), url('/assets/assets/img/sb.jpg'); };
	background-size: auto, auto, cover;
	background-position: auto, auto, center center;
	background-position: left top, left top, center center;


	&:before {
		@include colorize-bg('/assets/assets/img/sb.jpg', tr(0.5), '/assets/assets/img/pixel-overlay-2.png');
		@include xs {
			@include colorize-bg('/assets/assets/img/sb.jpg', tr(0.7));
		}
	}

	main, footer {
		background: none;
	}

	.center-of-page {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		text-align: center;
		font-size: 50px;
		@include xs { font-size: 20px; };
		width: 500px;

		.text-404, .text-notfound {
			color: white;
			font-weight: 700;
			line-height: 1;
			text-shadow: 0 5px 5px tr(0.5);
		}

		.text-404 {
			font-size: 5em;
			font-weight: 700;
			margin-top: -0.4em;
		}

		.text-notfound {
			font-size: 1em;
			margin-left: 0.1em;
		}
	}

	
}