body {	
	background: $color-bg;
	color: $color-text;
	font-family: $font-default;
	font-size: $font-size;
	line-height: 1.4;	

	@include xs {
		font-size: $font-size-xs;
	}
	
	@include lg {
		font-size: $font-size-lg;
	}
}

div {
	display: flex;
	flex-direction: column;

	&.row {
		flex-direction: row;
	}

	&.column {
		flex-direction: column;
	}
}

h1, h2, h3, h4, h5, h6 {
	color: $color-header;
	font-family: $font-header;
	font-weight: bold;
	margin: 0 0 $font-size;
	padding: 0;
	
	@include xs {
		margin: 0 0 $font-size-xs;
	}
	
	@include lg {
		margin: 0 0 $font-size-lg;
	}
}

a, a:hover, a:active, a:visited {
	color: $color-link;
	text-decoration: none;
	transition: 0.5s;
}

p {
	margin: 0 0 1em;
}

li {
	list-style: none;
	text-decoration: none;
}

.input {
	transition: 0.5s;
}

::selection {
	background: $color-selection;
	color: $white;
}

// for js media query detection
.is-xs, .is-sm, .is-md, is-lg {
	display: none;
}

// * {
// 	//-webkit-backface-visibility: hidden;
// }