// ---- Font Imports ---- //

// keep fonts commented out if not in use,
// including them in the css has a non-negligible effect on load time
// since they are loaded externally (fonts.gstatic.com)

//$font-ave: 'Avenir Next', Helvetica, sans-serif;
$font-sans: 'Lato', Helvetica, Arial, sans-serif;
$font-mont: 'Montserrat', Helvetica, serif;
@import url(https://fonts.googleapis.com/css?family=Lato|Montserrat);

// ---- Font Settings ---- //

$font-size-xs: 14px;
$font-size: 16px;
$font-size-lg: 16px;

$line-height: 1.8;

$font-default: $font-sans;
$font-header: $font-mont;