// ---- Breakpoint Definitions ---- //

$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$screen-xs-max: $screen-sm-min - 1;
$screen-sm-max: $screen-md-min - 1;
$screen-md-max: $screen-lg-min - 1;

// Navbar/footer

$navbar-height: 4em;
$navbar-height-xs: 3em;

$footer-height: 6em;
$footer-height-xs: 6em;

// ---- Margins Stuff ---- //

$gutter-width: 3em;
$half-gutter: 1.5em;